.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #59545b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  gap: 5vh;
}

.App-link {
  color: #61dafb;
}

.button-container {
    display: flex;
    gap: 5vw;
}
.simple-dialog {
  display:flex;
}
.dialog-title {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #333;
}